<!DOCTYPE html>
<html>
    <head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <style>
            img.imageCenter{
                display:block;
                margin-left: auto;
                margin-right:auto;
                margin-top: 3%;
                height: 30%;
                width:30%;
            }
            #headS{
                color: mediumseagreen;
                text-align: center;
                font-family: "Copperplate";
                margin-top: 5%;
                font-size: 300%;
            }
        </style>
        <title>Filter Page</title>
    </head>
    <body>
    <h1 id="headS"><b>How does DISH make you feel...?</b></h1>
        <div class="text-center">

                <form action="{{url_for('final')}}" method = "POST">
               {% for key, value in restauraunt.items() %}

                 {% for images in value %}
                <img src="{{images}}"  style='display:block'  class = imageCenter>
                <input type="checkbox" name= "restaurant" value="{{key}}"> This Please!
                 {% endfor %}
               {% endfor %}
                    <br>
                    <input type="submit" name="my-form" value="I Like These">

            </form>


        </div>

    </body>


















</html>
