<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <title>Filter Page</title>
    </head>
    <body>
        <div class="text-center">
            <!--<img src="{{restauraunts["image_url"]}}" alt="name">-->
            {% for key, value in restauraunts.items() %}
            {% for images in value %}
            <img src={{images}} alt="name">
            {% endfor %}
            {% endfor %}
            <form id="form" action="." method="POST">
            <input type="submit" name="choice" value="Yes">
            <input type="submit" name="choice" value="No">

        </form>
        </div>

    </body>
</html>
