<!DOCTYPE html>
<html>
    <head>
        <script>
            counter = 1
            function showImage(){
                if (counter > 13){
                    clearInterval(intervalTime);
                }

                var image = document.getElementById(String(counter));
                var turnoff = document.getElementById(String(counter - 1));
                image.style.display = 'block';
                turnoff.style.display = 'none';

                counter ++
                console.log(counter)

            }
            var intervalTime = setInterval(showImage,3000)
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <style>
            img.imageCenter{
                display:block;
                margin-left: auto;
                margin-right:auto;
                margin-top: 3%;
                height: 30%;
                width:30%;
            }
            #headS{
                color: mediumseagreen;
                text-align: center;
                font-family: "Copperplate";
                margin-top: 5%;
                font-size: 300%;
            }
        </style>
        <title>Filter Page</title>
    </head>
    <body>
    <h1 id="headS"><b>How does DISH make you feel...?</b></h1>
        <div class="text-center">


            {% set counter = [0] %}
            {% for key, value in restauraunts.items() %}
            {% for images in value %}
                <img src="{{images}}" id="{{counter[0]}}" style='display:none'  class = "imageCenter">
                {% if counter.append(counter.pop() + 1) %} {% endif %}
            {% endfor %}
            {% endfor %}

            total time through = {{counter[0]}}
            <video id="video" width="300" height="300" autoplay></video>
             <button id="snap">Snap Photo</button>
             <canvas id="canvas" width="300" height="300"></canvas>

        </div>

    </body>
    <script>

        // Grab elements, create settings, etc.
        var video = document.getElementById('video');

        // Get access to the camera!
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            });
        }
        // Elements for taking the snapshot
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');

        // Trigger photo take
        document.getElementById("snap").addEventListener("click", function(){
            context.drawImage(video, 0, 0, 640, 480);
            context.style.display = 'block';

        });

       function savePhoto(){
           var data = canvas.toDataURL();
           var title = $("#title").val();

           $.ajax({
               type: "POST",
               url: "savephoto.aspx",
               data: {
                   photo: data,
                   title: title
               }
           }).done(function (o) {
               alert("Photo Saves Successfully!");
           });
       }
    </script>
</html>
