<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <title>filter page</title>
    </head>
    <body>
        <form id="form" action="." method="POST">
            <input type="radio" name="price" value="1"> $
            <input type="radio" name="price" value="2"> $$
            <input type="radio" name="price" value="3"> $$$
            <input type="radio" name="price" value="4"> $$$$<br>
            Cuisine: 
            <input type="text" name="cuisine"> <br>
            
            <input type="submit" name="my-form" value="I'm Hungry">
        </form>
    </body>
</html>
